:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Protest";
  font-style: normal;
  src: url(../../public/fonts/ProtestGrotesk-VariableVF.ttf) format("opentype");
}

::selection {
  color: inherit;
  background: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: "Protest";
  color: blue;
  background: rgb(254, 222, 247);
}

p {
  font-size: 15pt;
  font-weight: 200;
}

h1 {
  font-size: 13vw;
  font-weight: 250;
  letter-spacing: -0.4vw;
}

h2 {
  font-size: 8vw;
  line-height: 9vw;
  font-weight: 250;
  letter-spacing: -0.4vw;
}

h3 {
  font-size: 3vw;
  font-weight: 250;
  letter-spacing: -0.1vw;
}

a {
  color: inherit;
  text-decoration: none;
}
