.typeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  cursor: pointer;
}

.typeWrapper h1 {
  transition: opacity 0.2s ease;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  cursor: pointer;
}

.linkWrapper div {
  padding-top: 50px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  padding-top: 2vh;
  padding-bottom: 2vh;
  z-index: 1;
}

.listWrapperActivities {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow-y: scroll;
  padding-top: 15vh;
  padding-bottom: 2vh;
  z-index: 1;
}

.listWrapper h2,
.listWrapperActivities h2 {
  cursor: pointer;
}

.listWrapper h2:hover,
.listWrapperActivities h2:hover {
  color: pink;
}

.clicked {
  color: rgb(0, 255, 0);
  /* pointer-events: none; */
}

.clicked h2:hover {
  color: rgb(255, 0, 0) !important;
}

/* .clicked:hover {
  color: red !important
} */

.right {
  color: rgb(0, 255, 0);
}

.next {
  position: absolute;
  pointer-events: none;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.next h3 {
  background: rgb(254, 222, 247);
  padding: 20px 40px;
  border: 10px solid rgb(0, 255, 0);
  border-radius: 100px;
  pointer-events: auto;
  cursor: pointer;
  color: rgb(0, 255, 0);
}

.next h3:hover {
  background: rgb(0, 255, 0);
  color: white;
}

.imageWrapper {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}

.ender {
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10vw;
  line-height: 23vh;
  color: rgb(0, 255, 0);
  cursor: pointer;
}

.header {
  padding-top: 40px;
  width: 100vw;
  text-align: center;
}

.counter {
  position: fixed;
  bottom: 0;
  left: 0;
  font-size: 40pt;
  z-index: 100;
  color: rgb(0, 255, 0);
  pointer-events: none;
  width: 100vw;
  text-align: center;
}
